* {
    box-sizing: content-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #fff1a3;
}

.board {
    flex: 1;
}

img {
    width: 30px;
}

.main-board {
    margin: auto;
    padding: 20px;
    background-color: #3869c5;
    height: fit-content;
    text-align: center;
}

.board {
    margin: auto;
    border-collapse: collapse;
    margin-bottom: 5px;
    margin-top: 5px;
}

.cell {
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 1.5em;
    border: 1px solid black;
    text-align: center;
    cursor: pointer;
}

.cell-clicked {
    background-color: #dfdfdf;
}

.levels {
    margin-bottom: 20px;
}

.levels button {
    padding: 10px;
    border-style: none;
    cursor: pointer;
    margin: 2px;
}

.levels button:hover {
    background-color: #e2e2e2;
}

.smiley-lives-stopwatch-container {
    display: flex;
    flex-direction: row;
}

.stop-watch {
    margin-bottom: 20px;
    margin-left: 15px;
    flex: 1;
    background-color: #ffffff69;
}

.lives {
    margin-bottom: 20px;
    margin-left: 15px;
    flex: 2;
    background-color: #ffffff69;
}

.smiley {
    margin-bottom: 20px;
    border-style: none;
    cursor: pointer;
    padding: 5px;
    text-align: center;
    flex: 1;
    max-width: 40px;
}

.smiley:hover {
    background-color: #e2e2e2;
}

footer {
    background-color: #d8d8d8;
    padding: 40px;
    text-align: center;
}